{% extends 'tweet_extract/base.html' %}

{% block content %}
     {% for message in messages %}
         <div class="alert alert-success">
             <a class="close" href="#" data-dismiss="alert">×</a>
             {{ message }}
         </div>
     {% endfor %}
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
    <br>
{% endblock  %}